{% extends "base.html" %}
{% block title %}教学质量监控系统刷评教{% endblock %}
{% block brand %}教学质量监控系统刷评教{% endblock %}
{% block panel %}
<div class="card-panel">
    <form>
        <div class="row">
            <div class="input-field col s12">
                <input name="username" id="username" type="text" class="validate">
                <label for="password">用户名</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate">
                <label for="password">密码</label>
            </div>
        </div>
        <a onclick="spawn()" class="waves-effect waves-light btn">刷！</a>
    </form>
</div>
<p>这是针对<a href="http://210.36.49.12/dqzljk/" target="_blank">教学质量监控系统</a>的刷评教程序，本程序将全部评100分。</p>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>正在处理</h4>
        <p id="state"></p>
    </div>
    <div id="modal1-footer" class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">关闭</a>
    </div>
</div>
{% endblock %}
