{% extends "base.html" %}
{% block title %}教学质量监控系统刷评教{% endblock %}
{% block brand %}教学质量监控系统刷评教{% endblock %}
{% block panel %}
<div class="card-panel">
    <form>
        <div class="row">
            <div class="input-field col s12">
                <input name="username" id="username" type="text" class="validate">
                <label for="password">用户名</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate">
                <label for="password">密码</label>
            </div>
        </div>
        <p id="state">{% if state %}{{ state }}{% endif %}</p>
        <a onclick="submit()" class="waves-effect waves-light btn">刷！</a>
    </form>
</div>
<p>这是针对<a href="http://210.36.49.12/dqzljk/" target="_blank">教学质量监控系统</a>的刷评教程序</p>
<script>
    function submit() {
        var form = $('form');
        $.post('/dqzljk', form.serialize(), function (data) {
            $('#state').html(data);
        }).fail(function () {
            $('#state').html('请求提交失败，请稍后重试。');
        })
    }
</script>
{% endblock %}
